/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 25, ../sass/kenstimpson.styles.scss */
.ks_content h1 {
  font-size: 2em;
  font-weight: 100; }

/* line 31, ../sass/kenstimpson.styles.scss */
a:link {
  color: #2F29BB;
  border-bottom: 1px solid #163251; }

@media (min-width: 44em) {
  /* line 38, ../sass/kenstimpson.styles.scss */
  a:link {
    border-bottom: 1px solid #163251; } }
@media (min-width: 70em) {
  /* line 46, ../sass/kenstimpson.styles.scss */
  a:link {
    text-decoration: none;
    border-bottom: none;
    color: #163251; }

  /* line 52, ../sass/kenstimpson.styles.scss */
  a:hover {
    border-bottom: 1px solid #163251; } }
/* line 58, ../sass/kenstimpson.styles.scss */
.main_ks_body {
  margin: 0 auto;
  z-index: 100;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #163251;
  overflow: hidden; }
  @media (min-width: 44em) {
    /* line 58, ../sass/kenstimpson.styles.scss */
    .main_ks_body {
      width: 44em; } }
  @media (min-width: 70em) {
    /* line 58, ../sass/kenstimpson.styles.scss */
    .main_ks_body {
      width: 70em;
      box-shadow: 5px 5px 10px 5px #ccc;
      border-bottom-right-radius: 15px;
      background-color: #fff;
      border-top: 1px solid #ccc; } }
  /* line 13, ../../../../../../../../lib/gems/2.1.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .main_ks_body:after {
    content: "";
    display: table;
    clear: both; }

/* line 83, ../sass/kenstimpson.styles.scss */
.ks_header {
  background-color: #FFF;
  text-align: right; }

/* line 88, ../sass/kenstimpson.styles.scss */
.ks_banner {
  visibility: hidden;
  display: none;
  background-color: #FFF; }
  @media (min-width: 44em) {
    /* line 88, ../sass/kenstimpson.styles.scss */
    .ks_banner {
      visibility: hidden;
      display: none; } }
  @media (min-width: 70em) {
    /* line 88, ../sass/kenstimpson.styles.scss */
    .ks_banner {
      visibility: visible;
      display: block;
      position: relative;
      height: 320px; } }
  /* line 13, ../../../../../../../../lib/gems/2.1.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .ks_banner:after {
    content: "";
    display: table;
    clear: both; }

/* line 107, ../sass/kenstimpson.styles.scss */
.ks_menu {
  position: relative; }

/* line 114, ../sass/kenstimpson.styles.scss */
.ks_banner .ks_logo a {
  color: #163251; }
/* line 118, ../sass/kenstimpson.styles.scss */
.ks_banner .ks_logo a:link {
  text-decoration: none;
  border: none;
  color: #163251; }
@media (min-width: 70em) {
  /* line 112, ../sass/kenstimpson.styles.scss */
  .ks_banner .ks_logo {
    position: absolute;
    top: 103px;
    left: 15px;
    z-index: 200; } }
/* line 132, ../sass/kenstimpson.styles.scss */
.ks_banner .ks_logo .logo_name {
  background-image: url("../images/logo_text_background.png"); }
  /* line 134, ../sass/kenstimpson.styles.scss */
  .ks_banner .ks_logo .logo_name .logo_kenstimpson {
    font-size: 30px; }
  /* line 138, ../sass/kenstimpson.styles.scss */
  .ks_banner .ks_logo .logo_name .logo_comschool {
    font-size: 22px; }

@media (min-width: 70em) {
  /* line 149, ../sass/kenstimpson.styles.scss */
  .ks_banner .ks_banner_image {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 49;
    width: 866px;
    height: 320px; }
    /* line 160, ../sass/kenstimpson.styles.scss */
    .ks_banner .ks_banner_image .banner_quote {
      width: 200px;
      height: 320px;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 10px;
      color: #DBDBDB;
      font-size: 1.2em;
      line-height: 1.5em;
      font-weight: 100;
      background-image: url("../images/quote_background.png"); } }

/* line 177, ../sass/kenstimpson.styles.scss */
.main_ks_body .ks_menu {
  /*Mobile view*/
  width: 100%;
  text-align: center;
  background-color: #163251;
  font-size: 1.3em;
  /*tab view*/
  /*desktop view*/ }
  /* line 13, ../../../../../../../../lib/gems/2.1.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .main_ks_body .ks_menu:after {
    content: "";
    display: table;
    clear: both; }
  /* line 185, ../sass/kenstimpson.styles.scss */
  .main_ks_body .ks_menu li {
    list-style: none;
    display: block;
    padding-bottom: 5px;
    text-align: center; }
  /* line 192, ../sass/kenstimpson.styles.scss */
  .main_ks_body .ks_menu li a {
    text-decoration: none;
    border: none;
    color: #FFF; }
  /* line 198, ../sass/kenstimpson.styles.scss */
  .main_ks_body .ks_menu li a:hover {
    text-decoration: none;
    border: none; }
  @media (min-width: 44em) {
    /* line 177, ../sass/kenstimpson.styles.scss */
    .main_ks_body .ks_menu {
      color: #163251;
      background-color: #FFF; }
      /* line 208, ../sass/kenstimpson.styles.scss */
      .main_ks_body .ks_menu li {
        display: inline-block;
        list-style: none; }
      /* line 213, ../sass/kenstimpson.styles.scss */
      .main_ks_body .ks_menu li a {
        color: #163251; } }
  @media (min-width: 70em) {
    /* line 177, ../sass/kenstimpson.styles.scss */
    .main_ks_body .ks_menu {
      width: 97%;
      color: #163251;
      margin-top: 0px;
      margin-right: 20px;
      background-color: #FFF; }
      /* line 226, ../sass/kenstimpson.styles.scss */
      .main_ks_body .ks_menu li {
        display: inline-block;
        list-style: none;
        width: 12.5%;
        text-align: center; }
      /* line 233, ../sass/kenstimpson.styles.scss */
      .main_ks_body .ks_menu li a {
        color: #163251; } }

/*# sourceMappingURL=kenstimpson.styles.css.map */
