/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 25, ../sass/kenstimpson.styles.scss */
.ks_content h1 {
  font-size: 2em;
  font-weight: 100; }

/* line 31, ../sass/kenstimpson.styles.scss */
a:link {
  color: #2F29BB;
  border-bottom: 1px solid #163251; }

/* line 38, ../sass/kenstimpson.styles.scss */
a:link {
  border-bottom: 1px solid #163251; }

/* line 46, ../sass/kenstimpson.styles.scss */
a:link {
  text-decoration: none;
  border-bottom: none;
  color: #163251; }

/* line 52, ../sass/kenstimpson.styles.scss */
a:hover {
  border-bottom: 1px solid #163251; }

/* line 56, ../sass/kenstimpson.styles.scss */
a:visited {
  color: #163251; }

/* line 60, ../sass/kenstimpson.styles.scss */
a.active {
  color: #000;
  font-weight: bold; }

/* line 67, ../sass/kenstimpson.styles.scss */
.main_ks_body {
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
  z-index: 100;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #163251;
  width: 44em;
  width: 70em;
  box-shadow: 5px 5px 10px 5px #ccc;
  border-bottom-right-radius: 15px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  overflow: hidden; }
  /* line 13, ../../../../../../../../lib/gems/2.1.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .main_ks_body:after {
    content: "";
    display: table;
    clear: both; }

/* line 94, ../sass/kenstimpson.styles.scss */
.ks_header {
  background-color: #FFF;
  text-align: right; }

/* line 99, ../sass/kenstimpson.styles.scss */
.ks_banner {
  visibility: hidden;
  display: none;
  background-color: #FFF;
  visibility: hidden;
  display: none;
  visibility: visible;
  display: block;
  position: relative;
  height: 320px; }
  /* line 13, ../../../../../../../../lib/gems/2.1.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .ks_banner:after {
    content: "";
    display: table;
    clear: both; }

/* line 118, ../sass/kenstimpson.styles.scss */
.ks_menu {
  position: relative; }

/* line 123, ../sass/kenstimpson.styles.scss */
.ks_banner .ks_logo {
  position: absolute;
  top: 43px;
  left: 15px;
  z-index: 200; }
  /* line 125, ../sass/kenstimpson.styles.scss */
  .ks_banner .ks_logo a {
    color: #163251; }
  /* line 129, ../sass/kenstimpson.styles.scss */
  .ks_banner .ks_logo a:link {
    text-decoration: none;
    border: none;
    color: #163251; }
  /* line 143, ../sass/kenstimpson.styles.scss */
  .ks_banner .ks_logo .logo_name {
    background-image: url("../images/logo_text_background.png"); }
    /* line 145, ../sass/kenstimpson.styles.scss */
    .ks_banner .ks_logo .logo_name .logo_kenstimpson {
      font-size: 30px; }
    /* line 149, ../sass/kenstimpson.styles.scss */
    .ks_banner .ks_logo .logo_name .logo_comschool {
      font-size: 22px; }

/* line 160, ../sass/kenstimpson.styles.scss */
.ks_banner .ks_banner_image {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 49;
  width: 866px;
  height: 320px; }
  /* line 171, ../sass/kenstimpson.styles.scss */
  .ks_banner .ks_banner_image .banner_quote {
    width: 200px;
    height: 320px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    color: #DBDBDB;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 100;
    background-image: url("../images/quote_background.png"); }

/* line 188, ../sass/kenstimpson.styles.scss */
.menu {
  text-align: center; }

/* line 192, ../sass/kenstimpson.styles.scss */
.main_ks_body .ks_menu {
  /*Mobile view*/
  width: 100%;
  text-align: center;
  background-color: #163251;
  font-size: 1.3em;
  /*tab view*/
  color: #163251;
  background-color: #FFF;
  /*desktop view*/
  width: 97%;
  color: #163251;
  margin-top: 0px;
  margin-right: 20px;
  background-color: #FFF; }
  /* line 13, ../../../../../../../../lib/gems/2.1.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .main_ks_body .ks_menu:after {
    content: "";
    display: table;
    clear: both; }
  /* line 200, ../sass/kenstimpson.styles.scss */
  .main_ks_body .ks_menu li {
    list-style: none;
    display: block;
    padding-bottom: 5px;
    text-align: center; }
  /* line 207, ../sass/kenstimpson.styles.scss */
  .main_ks_body .ks_menu li a {
    text-decoration: none;
    border: none;
    color: #FFF; }
  /* line 213, ../sass/kenstimpson.styles.scss */
  .main_ks_body .ks_menu li a:hover {
    text-decoration: none;
    border: none; }
  /* line 223, ../sass/kenstimpson.styles.scss */
  .main_ks_body .ks_menu li {
    display: inline-block;
    list-style: none; }
  /* line 228, ../sass/kenstimpson.styles.scss */
  .main_ks_body .ks_menu li a {
    color: #163251; }
  /* line 241, ../sass/kenstimpson.styles.scss */
  .main_ks_body .ks_menu li {
    display: inline-block;
    list-style: none;
    width: 12.5%;
    text-align: center; }
  /* line 248, ../sass/kenstimpson.styles.scss */
  .main_ks_body .ks_menu li a {
    color: #163251; }

/* line 257, ../sass/kenstimpson.styles.scss */
.ks_submenu {
  background-color: #8AD5EF;
  color: #727272;
  width: 100%;
  margin-top: 20px;
  font-size: 0.9em;
  line-height: 2em;
  border: 0px solid green;
  text-align: center; }
  /* line 13, ../../../../../../../../lib/gems/2.1.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .ks_submenu:after {
    content: "";
    display: table;
    clear: both; }
  /* line 269, ../sass/kenstimpson.styles.scss */
  .ks_submenu a {
    color: #727272; }
  /* line 273, ../sass/kenstimpson.styles.scss */
  .ks_submenu .menu .leaf {
    list-style-type: none;
    list-style-image: none;
    list-style: none; }

/* line 282, ../sass/kenstimpson.styles.scss */
.ks_submenu_container {
  background-image: url("../images/submenu.png");
  background-repeat: no-repeat;
  width: 1120px;
  margin: auto;
  padding-top: 5px;
  border: 0px solid red;
  font-size: 1.3em; }
  /* line 13, ../../../../../../../../lib/gems/2.1.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .ks_submenu_container:after {
    content: "";
    display: table;
    clear: both; }
  /* line 293, ../sass/kenstimpson.styles.scss */
  .ks_submenu_container .menu {
    text-align: left;
    padding-left: 55px; }
  /* line 298, ../sass/kenstimpson.styles.scss */
  .ks_submenu_container .block__title {
    font-size: 1.2em;
    text-align: left;
    padding: 20px 0px 0px 9px;
    margin: 0px; }
  /* line 305, ../sass/kenstimpson.styles.scss */
  .ks_submenu_container .block__content {
    text-align: left;
    padding-left: 55px; }

/* line 316, ../sass/kenstimpson.styles.scss */
.menu-level-3 .menu .leaf {
  list-style-type: none;
  list-style-image: none;
  list-style: none;
  font-size: 1.3em; }
/* line 323, ../sass/kenstimpson.styles.scss */
.menu-level-3 .menu {
  text-align: left;
  line-height: 2em; }

/* line 330, ../sass/kenstimpson.styles.scss */
.ks_bottom {
  background-color: #163251;
  color: #727272;
  width: 100%;
  margin-top: 0px;
  font-size: 0.9em;
  line-height: 1.5em; }
  /* line 13, ../../../../../../../../lib/gems/2.1.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .ks_bottom:after {
    content: "";
    display: table;
    clear: both; }
  /* line 339, ../sass/kenstimpson.styles.scss */
  .ks_bottom a {
    color: #727272; }
  /* line 343, ../sass/kenstimpson.styles.scss */
  .ks_bottom .menu .leaf {
    list-style-type: none;
    list-style-image: none;
    list-style: none; }

/* line 352, ../sass/kenstimpson.styles.scss */
.ks_bottom_container {
  width: 70em;
  margin: auto; }
  /* line 13, ../../../../../../../../lib/gems/2.1.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .ks_bottom_container:after {
    content: "";
    display: table;
    clear: both; }

/* line 358, ../sass/kenstimpson.styles.scss */
.ks_bottom_first {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  border: 0px solid red; }

/* line 363, ../sass/kenstimpson.styles.scss */
.ks_bottom_centre {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 33.89831%;
  clear: none;
  border: 0px solid yellow; }

/* line 368, ../sass/kenstimpson.styles.scss */
.ks_bottom_second {
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  border: 0px solid green; }
  /* line 13, ../../../../../../../../lib/gems/2.1.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .ks_bottom_second:after {
    content: "";
    display: table;
    clear: both; }

/* line 376, ../sass/kenstimpson.styles.scss */
.ks_content .block {
  /*mobile view*/
  color: #163251;
  /*tablet view*/
  /*desktop view*/
  padding: 5px;
  font-size: 1em; }
  /* line 392, ../sass/kenstimpson.styles.scss */
  .ks_content .block .block__title {
    font-size: 2em;
    font-weight: 100;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee; }

/* line 407, ../sass/kenstimpson.styles.scss */
.ui-front.media-wrapper {
  z-index: 1002; }

/*# sourceMappingURL=kenstimpson.no-query.css.map */
