// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";


.curriculum_container .panel-pane
{
	/*border: 1px solid #ddd;
	border-bottom-right-radius: 15px;
	padding: 10px;*/
	@include rounded-box;
	margin-bottom: 10px;
}

.curriculum_container .title_small h2
{
	font-size: 1.1em;
	font-weight: bold;
}
#curr_image
{
	padding: 0px;
}
#curr_image, 
#panels_tabs, 
#panels_tabs_container
{
	border: none;
	text-align: left;
}


.pane-menu-block-1
{
	
	
	.menu
	{
		margin: 0px;
		padding-left: 0px;
		text-align: left;
	}
	.menu .menu
	{
		padding-left: 15px;
	}
	
	.menu li
	{
		list-style: none;
		margin: 0px;
		padding-left: 10px;
	}
}

#panels_tabs
{
	padding-left: 20px;
}
.pane-panels-ajax-tab-tabs ul
{
	margin: 0px;
	padding: 0px;
	list-style:  none;
}
.panels-ajax-tab li
{
	a
	{
		display: inline-block;
		float: left;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		margin-right: 1px;
		padding: 5px;
		border-top-right-radius: 15px;
		border-top-left-radius: 5px;
		font-weight: bold;
		background-color: #eee;
	}
}
.panels-ajax-tab li.active a
{
	
	background-color: #979797;
}