// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";


/*CALENDAR VIEW*/
.block--views-calendar-block-2 .view-calendar
{
	.views-row
	{
		border-top: 1px solid #F09866;
		border-bottom: 1px solid #F09866;
		margin-bottom: 5px;

		border-top-left-radius: 15px;
	}
	.event_title
	{
		margin-left: 60px;
		padding-top: 15px;
		font-size: $smallerText;
		@include clearfix;
	}
	.event_date_container
	{
		border: 1px solid #FFB155;
		text-align: center;
		width: 50px;
		float: left;
		border-bottom-right-radius: 15px;
		border-top-left-radius: 15px;
		box-shadow: 1px 1px 5px 1px #ddd;
		
		.event_month
		{
			background-color: #EA661C;
			color: #fff;
			font-size: .8em;
			border-top-left-radius: 15px;
		}
		.event_date
		{
			font-size: 1.3em;
			background-color: #FFB155;
		}
		.event_day
		{
			font-size: .7em;
			background-color: #FFFFFF;
			border-bottom-right-radius: 15px;
		}
	}
	.view-footer
	{
		font-size: $smallText;
		text-align: right;
	}
}

.block--views-calendar-block-1 .view-calendar, .view-display-id-page_4
{
	li 
	{
		list-style: none;
	}
	.date-prev
	{
		float: left;
		position: absolute;
		right: auto;
	}
	.date-next
	{
		float: right;
		position: absolute;
		
	}
	
	@include rounded-box;
}


/*CURRICULUM PAGE*/
.ks_centre .view-curriculum
{
	clear: both;
	/*border: 1px solid #ccc;
	border-bottom-right-radius: 15px;
	padding: 10px;*/
	margin-bottom: 10px;
	
	.views-row
	{
		margin-bottom: 20px;
	}
	
	.views-field-field-curr-topic
	{
		font-size: $h2;
		font-weight: bold;
		margin-top: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #E7E7E7;
	}
	
	.views-field-field-curr-topic-desc .views-label,
	.views-field-field-curr-topic-assess .views-label,
	.views-field-field-curr-topic-homework .views-label,
	{
		font-size: $h3;
		font-weight: bold;
		margin-top: 20px;
		display: block;
		
	}
	.field-content p 
	{
		margin: 0px;
		padding: 0px;
	}
}

.curr-contact-details
{
	border: 1px solid #ECECEC;
	padding: 5px;
	margin-bottom: 20px;
	
	.views-field-field-contact-name
	{
		font-weight: bold;
	}
	.views-field-field-contact-job-title
	{
		font-size: $smallerText;
	}
	.views-field-field-contact-email
	{
		font-size: $smallerText;
	}
	.views-field-field-contact-telephone
	{
		font-size: $smallerText;
	}
}

/*POST 16 COURSE LIST*/
.p16-course-list-page-view
{
	h3
	{
		margin-top: 40px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	.views-field-title a:link
	{
		border-bottom: 1px dashed #ccc;
		width: 300px;
		display: block;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.views-field-title a:visited
	{
		border-bottom: 1px dashed #ccc;
	}
}
/*POST 16 PAGE*/
.node-post-16-course-information img
{
	float: right;
}
.view-p16-courses
{
	position: relative;	
}
.view-p16-courses .views-field-field-p16-course-image	
{
	float:right;
}
.p16-course-page-view .views-field-title
{
	position: relative;
	font-size: 3em;
	width: 100%;
	height: 50px;
	text-align: left;
	top: 130px;
	right: 0px;
	line-height: normal;
	background-image: url(images/breadcrumb_background.png);
	background-repeat: repeat;
	color: #163251;
	padding-right: 5px;
	z-index: 100;
}
.p16-course-page-view .views-label-field-p16-level,
.p16-course-page-view .views-label-field-p16-duration/*,
.p16-course-page-view .views-label-field-p16-qualification,
.p16-course-page-view .views-label-field-p16-entry-requirements*/
{
	float: left;	
}
.p16-course-page-view .views-label-field-p16-level,
.p16-course-page-view .views-label-field-p16-duration,
.p16-course-page-view .views-label-field-p16-qualification,
.p16-course-page-view .views-label-field-p16-entry-requirements
{
	font-weight: bold;	
}
.p16-course-page-view .views-label-field-p16-what-will-i-learn-
{
}
.p16-course-page-view .views-label-field-p16-what-will-i-learn-,
.p16-course-page-view .views-label-field-p16-further-course-content,
.p16-course-page-view .views-label-field-p16-enrichment-activities,
.p16-course-page-view .views-label-field-p16-what-can-i-do-next,
.p16-course-page-view .views-label-field-p16-assessment,
.p16-course-page-view .views-label-field-p16-who-can-do-it-
{
	font-weight: bold;
	font-size: 1.7em;
	color: #163251;
	clear: both;
}

/*POLICIES BLOCK*/
#block-views-policies-block
{
	.field-content a
	{
		line-height: 1.5em;
		padding-right: 5px;
		
	}
	.policy_review_date
	{
		font-size: $smallText;
		color: #4B4B4B;
	}
}

.ks_content .ks_centre .policies-list
{
	line-height: 2.5em;
	a:link
	{
		font-size: $mainLargerText;
		display: inline-block;
		width: 350px;
		border-bottom: 1px dashed #ccc;
	}
	a:hover
	{
		border-bottom: 1px dashed $mainLinkHoverColour;
	}
	a:visited
	{
		border-bottom: 1px dashed #ccc;
	}
	.policy_review_date
	{
		font-size: $smallerText;
		color: #A9A9A9;
	}
}

/*STUDENT COUNCIL PAGE*/
.view-student-council
{
	.views-view-grid
	{

			width: 100%;
			border-collapse: separate;
			padding: 20px;
			border-spacing: 20px;

		td 
		{
			width: 50%;
			padding: 30px;
			margin: 20px;
			text-align: center;
			font-size: $h1;
			border-bottom-right-radius: 15px;
			
			a
			{
				text-decoration: none;
				width: 100%;
			}
			a:hover{ border: 0px; text-decoration: none;}
			
		}
		.row-1 .col-1
		{
			background-color: aquamarine;
		}
		.row-1 .col-2
		{
			background-color: forestgreen;
		}
		.row-2 .col-1
		{
			background-color: yellow;
		}
		.row-2 .col-2
		{
			background-color: coral;
		}
		.row-3 .col-1
		{
			background-color: mediumpurple;
		}
		.row-3 .col-2
		{
			background-color: dodgerblue;
		}
	}
}

/*GOVERNORS*/
.view-governors
{
	.views-row
	{
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
	}
	.views-field-title
	{
		font-size: $h2;
		font-weight: bold;
	}
	.views-field-field-governor-role,
	.views-field-field-governor-profession,
	.views-field-field-governor-why
	{
		margin-bottom: 10px;
		.governor_role_label,
		.governor_profession_label,
		.views-label-field-governor-why
		{
			font-weight: bold;
		}
		.governor_role_value,
		.governor_profession_value
		{
			/*font-style: italic;*/
		}
		
	}
	.views-field-field-governor-why
		{
			.field-content
			{
				line-height: 2em;
			}
		}
	.views-field-field-image
	{
		float: right;
		margin-left: 10px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.governors_clear
	{
		clear:both;
		height: 0px;
	}
}

/*VACANCY PAGE*/
.page-vacancies h1
{
	display: none;
}
.view-vacancy-page .views-field-title
{
	font-size: 2em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.view-vacancy-page .views-label-field-closing-date,
.view-vacancy-page .views-label-field-post-title,
.view-vacancy-page .views-label-field-grade,
.view-vacancy-page .views-label-field-hours,
.view-vacancy-page .views-label-field-responsible-to,
.view-vacancy-page .views-label-field-purpose-of-the-job,
.view-vacancy-page .views-label-field-main-responsibilities,
.view-vacancy-page .views-label-field-attachment-s-
{
	font-weight: bold;	
}
.view-vacancy-page .views-field-body,
.view-vacancy-page .views-field-field-closing-date .field-content,
.view-vacancy-page .views-field-field-post-title .field-content,
.view-vacancy-page .views-field-field-grade .field-content,
.view-vacancy-page .views-field-field-hours .field-content,
.view-vacancy-page .views-field-field-responsible-to .field-content,
.view-vacancy-page .views-field-field-purpose-of-the-job .field-content,
.view-vacancy-page .views-field-field-main-responsibilities .field-content,
.view-vacancy-page .views-field-field-attachment-s- .field-content
{
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
	margin-bottom: 10px;
}

/*WEEKLY NEWSLETTERS*/
.view-weekly-newsletters img
{
	max-width: inherit;
}
