// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

.view-calendar
{
	.views-row
	{
		border-top: 1px solid #E0E0E0;
		border-bottom: 1px solid #E0E0E0;
		margin-bottom: 5px;

		border-top-left-radius: 15px;
	}
	.event_title
	{
		margin-left: 60px;
		padding-top: 15px;
		font-size: $smallerText;
		@include clearfix;
	}
	.event_date_container
	{
		border: 1px solid #CACACA;
		text-align: center;
		width: 50px;
		float: left;
		border-bottom-right-radius: 15px;
		border-top-left-radius: 15px;
		box-shadow: 1px 1px 5px 1px #ddd;
		
		.event_month
		{
			background-color:#073E5F;
			color: #fff;
			font-size: .8em;
			border-top-left-radius: 15px;
		}
		.event_date
		{
			font-size: 1.3em;
			background-color: #E6F4FD;
		}
		.event_day
		{
			font-size: .7em;
			background-color: #9CB2BF;
			border-bottom-right-radius: 15px;
		}
	}
	.view-footer
	{
		font-size: $smallText;
		text-align: right;
	}
}

.ks_centre .view-curriculum
{
	clear: both;
	border: 1px solid #ccc;
	border-bottom-right-radius: 15px;
	padding: 10px;
	margin-bottom: 10px;
	
	.views-row
	{
		margin-bottom: 20px;
	}
	
	.views-field-field-curr-topic
	{
		font-size: $h2;
		font-weight: bold;
	}
	
	.views-field-field-curr-topic-desc .views-label,
	.views-field-field-curr-topic-assess .views-label,
	.views-field-field-curr-topic-homework .views-label,
	{
		font-size: $h3;
		font-weight: bold;
	}
}