// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
.ks_content
{
	h1
	{
		font-size: $h1;
		font-weight: 100;
	}
}

a:link
{
	color: $mainLinkColour;
	border-bottom: 0px;
	text-decoration: none;
}
a:visited
{
	color: $mainLinkVisitedColour;
}
a:active
{
	color: $mainLinkVisitedColour;
	font-weight: bold;
}
a:hover
{
	color: $mainLinkHoverColour;
	border-bottom: 1px solid $mainLinkHoverColour;
}

.ks_content .ks_centre
{
	a:link
	{
		color: #2F29BB;
		border-bottom: 1px solid $mainLinkColour;
	}
		@include breakpoint($tab, true)
		{
			a:link
			{
				border-bottom: 1px solid $mainLinkColour;
			}
		}

		@include breakpoint($desk, true)
		{
			a:link
			{
				text-decoration: none;
				border-bottom: none;
				color: $mainLinkColour;
			}
			a:hover
			{
				border-bottom: 1px solid $mainLinkHoverColour;
			}
			a:visited
			{
				color: $mainLinkVisitedColour;
			}
			a.active
			{
				color: $mainLinkActiveColour;
				font-weight: bold;
			}
		}
}

.main_ks_body
{
	margin: 0 auto 20px auto;
	padding-bottom: 20px;

	z-index: 100;
	position: relative;
	font-family: $mainFontFamily;
	font-size: $mainFontSize;
	color: $mainFontColour;

	@include breakpoint($tab, true)
	{
		width: 100%;
	}
	@include breakpoint($desk, true)
	{
		width: $desk;
		box-shadow: 5px 5px 10px 5px $mainBorderColour;
		border-bottom-right-radius: 15px;
		background-color: $mainBackgroundColour;
		border-top: 1px solid #mainBorderColour;
	}
	@include clearfix;
	overflow: hidden;
}

.ks_header
{
		background-color: $mainBackgroundColour;
		text-align: right;
}
.ks_banner
{
	visibility: hidden;
	display: none;
	background-color: $mainBackgroundColour;
	@include breakpoint($tab, true)
	{
		visibility: hidden;	
		display: none;
	}
	@include breakpoint($desk, true)
	{
		visibility: visible;
		display: block;
		position: relative;
		height: 320px;
	}
	@include clearfix;
}


.ks_banner .ks_logo
{
	a
	{
		color: $mainLinkColour;
	}
	a:link
	{
		text-decoration:  none;
		border: none;
		color: $mainLinkColour;
	}
	@include breakpoint($desk, true)
	{
		position: absolute;
		top: 43px;
		left: 15px;	
		z-index: 200;
	}
	
	.logo_name
	{
		.logo_kenstimpson
		{
			font-size: 30px;
		}
		.logo_comschool
		{
			font-size: 22px;
		}
		background-image: url('../images/logo_text_background.png');
		
		
	}
	
	
}
.ks_banner .ks_banner_image
{
	@include breakpoint($desk, true)
	{
		position: absolute;
		top: 0px;
		right: 0px;	
		z-index: 49;
		width: 866px;
		height: 320px;
		
		.banner_quote
		{
			width: 200px;
			height: 320px;
			position: absolute;
			top: 0px;
			right:0px;
			padding: 10px;
			color: $bannerQuoteFontColour;
			font-size: 1.2em;
			line-height: 1.5em;
			font-weight:  100;
			background-image: url('../images/quote_background.png');
		}
	}
}

.ks_menu
{
	position: relative;
}

.main_ks_body .ks_menu
{
	/*Mobile view*/
	.menu
	{
		display: none;
		visibility: hidden;
	}
	
	
	/*tab view upwards*/
	@include breakpoint($tab, true)
	{
		width: 97%;
		margin-right: 20px;
		text-align: left;
		background-color: $ksBlue;
		@include clearfix;
		font-size: $mainMenuSizeTab;
		
		color: $mainFontColour;
		background-color: #FFF;
		li
		{
			display: inline-block;
			list-style:  none;
			padding-bottom: 5px;
			text-align: center;
			width: percentage(1/8);
		}
		li a
		{ 
			color: $mainLinkColour;
			text-decoration: none;
			border: none;
		}
		.menu
		{
			display: block;
			visibility: visible;
			border-bottom: 10px solid $blueHouse;
		}
	}
	/*desktop view upwards*/
	@include breakpoint($desk, true)
	{
		font-size: $mainMenuSize;
		.menu
		{
			display: block;
			visibility: visible;
			border-bottom: none;
		}
		width: 97%;
		color: $mainFontColour;
		margin-top: 0px;
		margin-right: 20px;
		background-color: $mainBackgroundColour;
		li 
		{
			display: inline-block;
			list-style:  none;
			width: percentage(1/8);
			text-align: center;
		}
		li a
		{ 
			color: $ksBlue;
		}
		
		
	}
}



.ks_submenu
{
	background-color: $subMenuColour;
	color: $subMenuFontColour;
	width: 100%;
	@include clearfix;
	margin-top: 20px;
	font-size: $smallerText;
	line-height: 2em;
	border: 0px solid green;
	text-align: center;
	
	a
	{
		color: #727272;
	}
	.ks_submenu_container
	{
		background-image: url('../images/submenu.png');
		background-repeat: no-repeat;
		width: 1120px;
		@include clearfix;
		margin: auto;
		padding-top: 5px;
		border: 0px solid red;

		font-size: $mainMenuSize;
		.menu
		{
			text-align: left;
			padding-left: 55px;
		}
		.expanded .menu
		{
			font-size: .8em;
		}
	}
	.menu .leaf
	{
		list-style-type:  none;
		list-style-image:  none;
		list-style: none;
	}
	
	.block__title
		{
			font-size: $h2;
			text-align: left;
			padding: 20px 0px 0px 9px;
			margin: 0px;
		}
		.block__content
		{
			text-align: left;
			padding-left: 55px;
		}
}

#sub-menu-link
{
	text-align: right;
	background-image: url('../images/more_link_arrow.png');
	background-repeat: no-repeat;
	width: 50px;
	padding-left: 20px;
}
@include breakpoint($tab, true)
{
	.ks_submenu_container
	{
		background-image: url('../images/submenu.png');
		background-repeat: no-repeat;
		width: 1120px;
		@include clearfix;
		margin: auto;
		padding-top: 5px;
		border: 0px solid red;

		font-size: $mainMenuSize;
		.menu
		{
			text-align: left;
			padding-left: 55px;
		}
		.expanded .menu
		{
			font-size: .8em;
		}

	}
	
	.ks_breadcrumbs
	{
		position: relative;
		height: 30px;
		
		#sub-menu-link
		{

			width: 50px;
			height: 20px;
			position: absolute;
			top: 6px;
			right: 0px;
			font-size: $smallerText;
			/*background-image: url('../images/more_link.png');
			background-repeat: no-repeat;*/
			
		}
		#sub-menu-link a
		{
			width: 100%;
			height: 20px;
			display: inline-block;
			border: none;
		}
		
		#sub-menu-link a:hover
		{
			border: none;
		}
		
		
	}
	
	a:link 
	{
		border: none;
	}
	a:hover
	{
		border-bottom: 1px solid $mainLinkHoverColour;
	}
	
	
	
}

.menu-level-3
{
	.menu .leaf
	{
		list-style-type:  none;
		list-style-image:  none;
		list-style: none;
		font-size: $mainMenuSize;
	}
	.menu
	{
		text-align: left;
		line-height: 2em;
	}
}

.ks_bottom
{
	background-color: $bottomColour;
	color: $bottomFontColour;
	width: 100%;
	@include clearfix;
	margin-top: 0px;
	font-size: $smallerText;
	line-height: 1.5em;
	text-align: left;
	a
	{
		color: $bottomFontColour;
	}
	.menu
	{
		text-align: left;
	}
	.menu .leaf
	{
		list-style-type:  none;
		list-style-image:  none;
		list-style: none;
	}
}
@include breakpoint($desk, true)
{
	.ks_bottom_container
	{
		width: $desk;
		@include clearfix;
		margin: auto;
	}
	.ks_bottom_first
	{
		@include grid-span(4,1);
		border: 0px solid red;
	}
	.ks_bottom_centre
	{
		@include grid-span(4, 5);
		border: 0px solid yellow;
	}
	.ks_bottom_second
	{
		@include grid-span(4, 9);	
		@include clearfix;
		border: 0px solid green;
	}
}

.ks_content .block
{
	/*mobile view*/
	color: $mainFontColour;
	
	/*tablet view*/
	@include breakpoint($tab, true)
	{
		
	}
	
	/*desktop view*/
	@include breakpoint($desk, true)
	{
		padding: 5px;
		font-size: $mainFontSize;
		margin-bottom: 10px;
		.block__title
		{
			font-size: $blockTitleSize;
			font-weight: 100;
			color: #fff;
			background-color: $ksBlue;
			
			/*padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
			
			
			border-bottom-right-radius: 15px;
			border-top-left-radius: 15px;
			box-shadow: 5px 5px 10px 5px #ccc;*/
			
			@include rounded-box;
			
			margin-top: 0px;
			margin-bottom: 10px;
			
			
		}
	}
	
}

/*hack to stop the media screen hiding behind the admin stuff*/
.ui-front.media-wrapper {
 z-index: 1002;
}

/*CROSS SITE STYLES*/

/*DROP CAPS*/

.facebook-feed-message
{
	display: inline-block;
}


.curriculum_container .panel-pane .field--name-field-curr-intro .field__items .field__item p:first-child:first-letter,
.drop_cap p:nth-of-type(1):first-letter,
.curriculum_container .curriculum_first .pane-custom p:nth-of-type(1):first-letter,
.facebook-feed-message:first-letter
{
	color: $mainFontColour;
	float: left;
	font-family: Georgia;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}

.facebook-feed-message:first-letter
{
	line-height: 63px;
	padding-top: 2px;
}


/*BLOCKY MENUS*/
.link_blob
	{
		border: 0px solid #C7C7C7;
		border-bottom-right-radius: 30px;
		border-top-left-radius: 30px;
		box-shadow: 3px 3px 10px 3px #ddd;
		width: 95%;
		height: 75px;
		margin-bottom: 10px;
		padding: 10px;
		background-image: url('../images/link_blob_background.png');
		background-position:bottom right;
		background-repeat: no-repeat;
		position:  relative;
	}

.link_blob:hover
	{
		box-shadow: 3px 3px 10px 3px #9e9e9e;
		border: 0px solid #9e9e9e;
		
	}

	.link_blob .link_title
	{
		font-size: 1.6em;
		text-align: left;
		color: #fff;
	}
	.link_blob .link_image{
		position: absolute;
		bottom: 0px;
		right: 15px;
		display: none;
	}
.link_blob a
{
     display: block;
	width: 100%;
	height: 75px;
}

.link_blob a:hover, .ks_content .ks_centre .link_blob a:hover
{
    border-bottom: none;
	text-decoration: none;
}

	
	.links_container .blobOrange
	{
		background-color: $ksOrange;
	}
	.links_container .blobPurple
	{
		background-color: $ksPurple;
	}
	.links_container .blobKsBlue
	{
		background-color: $ksBlue;
	}
	.links_container .blobBlue
	{
		background-color: $blueHouse;
	}
	.links_container .blobGreen
	{
		background-color: $greenHouse;
	}
	.links_container .blobRed
	{
		background-color: $redHouse;
	}



	
	

