@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";
.curriculum_container
{
	@include breakpoint($tab, true)
	{
		.curriculum_third
		{
			@include grid-span(12, 1);
			border: 0px solid red;
			text-align: center;
			clear: both;
			img 
			{
				width: 100%;
			}

		}
		.curriculum_first
		{
			@include grid-span(9, 1);

			border: 0px solid yellow;
			clear: both;

		}
		.curriculum_second
		{
			@include grid-span(3, 10);	
			@include clearfix;
			border: 0px solid green;

		}
		.curriculum_fourth
		{
			@include grid-span(9, 1);
			border: 0px solid red;
			clear: both;
			.panel-separator
			{
				display: none;
			}

		}
		.curriculum_fifth
		{
			@include grid-span(3, 10);

			border: 0px solid yellow;

		}
		.curriculum_sixth
		{
			@include grid-span(12, 1);	
			@include clearfix;
			border: 0px solid green;
			clear: both;

		}
	}
}


