/*******************************************************************************
 * front.layout.scss
 *
 * Styles for the Main layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";



@include breakpoint($tab, true)
{
	.ks_first_sidebar
	{
		@include grid-span(3,1);
		border: 0px solid red;
	}
	.ks_centre
	{
		@include grid-span(5, 4);
		border: 0px solid yellow;
		font-size: $smallerText;
		line-height: 1.5em;
	}
	.ks_second_sidebar
	{
		@include grid-span(4, 9);	
		@include clearfix;
		border: 0px solid green;
	}
}

