$ksBlue: #163251;
$mainFontColor: #163251;
$mainLinkColour: #163251;

$blueHouse: #29A7EF;
$yellowHouse: #F7BB25;
$redHouse: #D73A31;
$greenHouse: #5D9E28;

$tableGrey: #ccc;
$tablePaleBlue: #CDE8F5;
$tablePaleGreen: #D6EACE;
$tablePaleOrange: #FDE2D9;
$tablePaleRed: #F4C6C4;
$tablePalePurple: #E0D7EC;

$quoteMainColour: #aaa;
$quoteAuthorColour: #666;