$mainMenuSize: 1.3em;
$smallerText: .9em;
$smallText: .7em;
$mainFontFamily: Arial, Helvetica, sans-serif;
$mainFontSize: 1em;
$mainLargerText: 1.1em;

$blockTitleSize: 2em;

$h1: 2em;
$h2: 1.1em;

$quoteMainSize: 1.1em;
$quoteAuthorSize: .9em;