$mainMenuSize: 1.3em;
$smallerText: .9em;
$smallText: .7em;
$mainFontFamily: Arial, Helvetica, sans-serif;
$mainFontSize: 1em;
$mainLargerText: 1.1em;

$blockTitleSize: 1.4em;

$h1: 1.3em;
$h2: 1.1em;