/*******************************************************************************
 * main.layout.scss
 *
 * Styles for the Main layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";


@include breakpoint($tab, true)
{
	.ks_content
	{
		padding-left: 20px;
		padding-right: 20px;

	}
	.ks_first_sidebar
	{
		@include grid-span(3,1);
		border: 0px solid red;
		margin-top: 55px;
	}
	.ks_centre
	{
		@include grid-span(9, 4);

		border: 0px solid yellow;
		font-size: $smallerText;
		line-height: 1.5em;
		padding-left: 20px;
		@include clearfix;
	}
	.ks_second_sidebar
	{
		width: 100%;	
		@include clearfix;
		border: 0px solid green;
	}
}

