/*******************************************************************************
 * main.layout.scss
 *
 * Styles for the Main layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

.main_ks_body
{
	margin: 0 auto;
	z-index: 100;
	position: relative;
	font-family: $mainFontFamily;
	font-size: $mainFontSize;

	@include breakpoint($tab, true)
	{
		width: $tab;
	}
	@include breakpoint($desk, true)
	{
		width: $desk;
		box-shadow: 5px 5px 5px 5px grey;
		background-color: #fff;
	}
	@include clearfix;
	overflow: hidden;
}

.ks_header
{
		background-color: #FFF;
		text-align: right;
}
.ks_banner
{
	visibility: hidden;
	display: none;
	background-color: #FFF;
	@include breakpoint($tab, true)
	{
		visibility: hidden;	
		display: none;
	}
	@include breakpoint($desk, true)
	{
		visibility: visible;
		display: block;
		position: relative;
		height: 320px;
	}
	@include clearfix;
}
.ks_menu
{
	position: relative;
}

.ks_banner .ks_logo
{
	@include breakpoint($desk, true)
	{
		position: absolute;
		top: 103px;
		left: 15px;	
		z-index: 200;
	}
	
}
.ks_banner .ks_banner_image
{
	@include breakpoint($desk, true)
	{
		position: absolute;
		top: 0px;
		right: 0px;	
		z-index: 49;
		width: 866px;
		height: 320px;
	}
}

@include breakpoint($tab, true)
{
	.ks_first_sidebar
	{
		@include grid-span(3,1);
		border: 0px solid red;
	}
	.ks_centre
	{
		@include grid-span(5, 4);
		border: 0px solid yellow;
	}
	.ks_second_sidebar
	{
		@include grid-span(4, 9);	
		@include clearfix;
		border: 0px solid green;
	}
}

.ks_bottom
{
	background-color: #163251;
	color: #727272;
	width: 100%;
	@include clearfix;
	margin-top: 20px;
	font-size: $smallerText;
	line-height: 1.2em;
}
@include breakpoint($desk, true)
{
	.ks_bottom_container
	{
		width: $desk;
		@include clearfix;
		margin: auto;
	}
	.ks_bottom_first
	{
		@include grid-span(4,1);
		border: 0px solid red;
	}
	.ks_bottom_centre
	{
		@include grid-span(4, 5);
		border: 0px solid yellow;
	}
	.ks_bottom_second
	{
		@include grid-span(4, 9);	
		@include clearfix;
		border: 0px solid green;
	}
}

.ks_content .block
{
	/*mobile view*/
	color: $ksBlue;
	
	/*tablet view*/
	@include breakpoint($tab, true)
	{
		
	}
	
	/*desktop view*/
	@include breakpoint($desk, true)
	{
		padding: 5px;
		font-size: $mainFontSize;
		.block__title
		{
			font-size: $blockTitleSize;
			padding-top: 0px;
			padding-bottom: 5px;
			margin: 0px;
		}
	}
	
}