/*
Error: Undefined variable: "$vert-spacing-unit".
        on line 21 of /var/www/website_201703/drupal-7.54/sites/all/themes/kenstimpson/sass/layouts/main/hero.layout.scss
        from line 5 of /var/www/website_201703/drupal-7.54/sites/all/themes/kenstimpson/sass/layouts/main/hero.layout.no-query.scss

Backtrace:
/var/www/website_201703/drupal-7.54/sites/all/themes/kenstimpson/sass/layouts/main/hero.layout.scss:21
/var/www/website_201703/drupal-7.54/sites/all/themes/kenstimpson/sass/layouts/main/hero.layout.no-query.scss:5
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/tree/list_literal.rb:63:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/var/lib/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/var/lib/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/2.1.0/gems/guard-compass-1.1.0/lib/guard/compass.rb:140:in `perform'
/var/lib/gems/2.1.0/gems/guard-compass-1.1.0/lib/guard/compass.rb:123:in `run_on_change'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:83:in `block (2 levels) in _supervise'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/ui/config.rb:62:in `block in with_progname'
/var/lib/gems/2.1.0/gems/lumberjack-1.0.11/lib/lumberjack/logger.rb:270:in `push_thread_local_value'
/var/lib/gems/2.1.0/gems/lumberjack-1.0.11/lib/lumberjack/logger.rb:231:in `set_progname'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/ui/config.rb:61:in `with_progname'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:81:in `block in _supervise'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:79:in `catch'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:79:in `_supervise'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:61:in `block (3 levels) in run_on_changes'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:56:in `each'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:56:in `block (2 levels) in run_on_changes'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:121:in `block (2 levels) in _run_group_plugins'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:119:in `each'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:119:in `block in _run_group_plugins'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:118:in `catch'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:118:in `_run_group_plugins'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:54:in `block in run_on_changes'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:53:in `each'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/runner.rb:53:in `run_on_changes'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/internals/queue.rb:24:in `process'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/commander.rb:43:in `start'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/cli/environments/valid.rb:16:in `start_guard'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/cli.rb:122:in `start'
/var/lib/gems/2.1.0/gems/thor-0.19.4/lib/thor/command.rb:27:in `run'
/var/lib/gems/2.1.0/gems/thor-0.19.4/lib/thor/invocation.rb:126:in `invoke_command'
/var/lib/gems/2.1.0/gems/thor-0.19.4/lib/thor.rb:369:in `dispatch'
/var/lib/gems/2.1.0/gems/thor-0.19.4/lib/thor/base.rb:444:in `start'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/aruba_adapter.rb:32:in `execute'
/var/lib/gems/2.1.0/gems/guard-2.14.1/lib/guard/aruba_adapter.rb:19:in `execute!'
/var/lib/gems/2.1.0/gems/guard-2.14.1/bin/_guard-core:11:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$vert-spacing-unit\".\A         on line 21 of /var/www/website_201703/drupal-7.54/sites/all/themes/kenstimpson/sass/layouts/main/hero.layout.scss\A         from line 5 of /var/www/website_201703/drupal-7.54/sites/all/themes/kenstimpson/sass/layouts/main/hero.layout.no-query.scss"; }
