/*******************************************************************************
 * singlecolumn.layout.scss
 *
 * Styles for the Single Column layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";



@include breakpoint($tab, true)
{

	.ks_centre
	{
		@include grid-span(10, 2);

		border: 0px solid yellow;
		font-size: $smallerText;
		line-height: 1.5em;
		/*padding-left: 30px;
		padding-right: 30px;*/
		@include clearfix;
	}

}


